.container{
    height: 500px;
    width: 600px;    
    transform: translate(0, 15%);    
}
.userinput{
    width: 400px;
    border-radius: 10px;
    margin: 10px 0;
    height: 37px;
    border: solid 1px #ccc;
    margin-right: 20px;
    padding-left: 10px;
}
.ctm-btn{
    width: 100px;
    border-radius: 10px;
}
.heading{
font-weight: 400;
font-size: 20px;
}

